<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <add name="DbConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1522))(CONNECT_DATA=(SID=TGGPS)));User ID=gps;Password=gps1203;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="DbConn2" connectionString="Data Source=TGGPS;User ID=GPS;Password=GPS1203" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="SocketIP" value="192.168.123.80"/>
    <add key="SocketPort" value="10000"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>